
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>IconFont</title>
    <link rel="stylesheet" href="demo.css">
    <link rel="stylesheet" href="iconfont.css">
</head>
<body>
    <div class="main markdown">
        <h1>IconFont 图标</h1>
        <ul class="icon_lists clear">
            
                <li>
                <i class="icon iconfont cl-icon-add"></i>
                    <div class="name">add</div>
                    <div class="fontclass">.cl-icon-add</div>
                </li>
            
                <li>
                <i class="icon iconfont cl-icon-addition"></i>
                    <div class="name">addition</div>
                    <div class="fontclass">.cl-icon-addition</div>
                </li>
            
                <li>
                <i class="icon iconfont cl-icon-addpeople"></i>
                    <div class="name">addpeople</div>
                    <div class="fontclass">.cl-icon-addpeople</div>
                </li>
            
                <li>
                <i class="icon iconfont cl-icon-addressbook_fill"></i>
                    <div class="name">addressbook_fill</div>
                    <div class="fontclass">.cl-icon-addressbook_fill</div>
                </li>
            
                <li>
                <i class="icon iconfont cl-icon-camera"></i>
                    <div class="name">camera</div>
                    <div class="fontclass">.cl-icon-camera</div>
                </li>
            
                <li>
                <i class="icon iconfont cl-icon-customerservice_fill"></i>
                    <div class="name">customerservice_fill</div>
                    <div class="fontclass">.cl-icon-customerservice_fill</div>
                </li>
            
                <li>
                <i class="icon iconfont cl-icon-customerservice"></i>
                    <div class="name">customerservice</div>
                    <div class="fontclass">.cl-icon-customerservice</div>
                </li>
            
                <li>
                <i class="icon iconfont cl-icon-suspend"></i>
                    <div class="name">suspend</div>
                    <div class="fontclass">.cl-icon-suspend</div>
                </li>
            
                <li>
                <i class="icon iconfont cl-icon-switch"></i>
                    <div class="name">switch</div>
                    <div class="fontclass">.cl-icon-switch</div>
                </li>
            
                <li>
                <i class="icon iconfont cl-icon-systemprompt_fill"></i>
                    <div class="name">systemprompt_fill</div>
                    <div class="fontclass">.cl-icon-systemprompt_fill</div>
                </li>
            
                <li>
                <i class="icon iconfont cl-icon-fenxiang"></i>
                    <div class="name">分享</div>
                    <div class="fontclass">.cl-icon-fenxiang</div>
                </li>
            
                <li>
                <i class="icon iconfont cl-icon-kefu"></i>
                    <div class="name">客服</div>
                    <div class="fontclass">.cl-icon-kefu</div>
                </li>
            
                <li>
                <i class="icon iconfont cl-icon-shenfenzheng"></i>
                    <div class="name">身份证</div>
                    <div class="fontclass">.cl-icon-shenfenzheng</div>
                </li>
            
                <li>
                <i class="icon iconfont cl-icon-quanping"></i>
                    <div class="name">全屏</div>
                    <div class="fontclass">.cl-icon-quanping</div>
                </li>
            
                <li>
                <i class="icon iconfont cl-icon-duigou"></i>
                    <div class="name">对勾</div>
                    <div class="fontclass">.cl-icon-duigou</div>
                </li>
            
                <li>
                <i class="icon iconfont cl-icon-shuoming"></i>
                    <div class="name">说明</div>
                    <div class="fontclass">.cl-icon-shuoming</div>
                </li>
            
                <li>
                <i class="icon iconfont cl-icon-jiantoushang"></i>
                    <div class="name">箭头 上</div>
                    <div class="fontclass">.cl-icon-jiantoushang</div>
                </li>
            
                <li>
                <i class="icon iconfont cl-icon-jiantoushang1"></i>
                    <div class="name">箭头 上</div>
                    <div class="fontclass">.cl-icon-jiantoushang1</div>
                </li>
            
                <li>
                <i class="icon iconfont cl-icon-jiantouyou"></i>
                    <div class="name">箭头 右</div>
                    <div class="fontclass">.cl-icon-jiantouyou</div>
                </li>
            
                <li>
                <i class="icon iconfont cl-icon-jiantouxia"></i>
                    <div class="name">箭头 下</div>
                    <div class="fontclass">.cl-icon-jiantouxia</div>
                </li>
            
                <li>
                <i class="icon iconfont cl-icon-saoyisao"></i>
                    <div class="name">扫一扫</div>
                    <div class="fontclass">.cl-icon-saoyisao</div>
                </li>
            
                <li>
                <i class="icon iconfont cl-icon-wode"></i>
                    <div class="name">我的</div>
                    <div class="fontclass">.cl-icon-wode</div>
                </li>
            
                <li>
                <i class="icon iconfont cl-icon-shouye"></i>
                    <div class="name">首页</div>
                    <div class="fontclass">.cl-icon-shouye</div>
                </li>
            
                <li>
                <i class="icon iconfont cl-icon-fenlei"></i>
                    <div class="name">分类</div>
                    <div class="fontclass">.cl-icon-fenlei</div>
                </li>
            
                <li>
                <i class="icon iconfont cl-icon-xiaoxi"></i>
                    <div class="name">消息</div>
                    <div class="fontclass">.cl-icon-xiaoxi</div>
                </li>
            
                <li>
                <i class="icon iconfont cl-icon-faxian"></i>
                    <div class="name">发现</div>
                    <div class="fontclass">.cl-icon-faxian</div>
                </li>
            
                <li>
                <i class="icon iconfont cl-icon-sousuo"></i>
                    <div class="name">搜索</div>
                    <div class="fontclass">.cl-icon-sousuo</div>
                </li>
            
                <li>
                <i class="icon iconfont cl-icon-liulan"></i>
                    <div class="name">浏览</div>
                    <div class="fontclass">.cl-icon-liulan</div>
                </li>
            
                <li>
                <i class="icon iconfont cl-icon-zhiding"></i>
                    <div class="name">置顶</div>
                    <div class="fontclass">.cl-icon-zhiding</div>
                </li>
            
                <li>
                <i class="icon iconfont cl-icon-tabguanbi"></i>
                    <div class="name">tab角标</div>
                    <div class="fontclass">.cl-icon-tabguanbi</div>
                </li>
            
                <li>
                <i class="icon iconfont cl-icon-kexuanzuobiankuang"></i>
                    <div class="name">座位边框</div>
                    <div class="fontclass">.cl-icon-kexuanzuobiankuang</div>
                </li>
            
                <li>
                <i class="icon iconfont cl-icon-shop"></i>
                    <div class="name">shop</div>
                    <div class="fontclass">.cl-icon-shop</div>
                </li>
            
                <li>
                <i class="icon iconfont cl-icon-yigouxuan"></i>
                    <div class="name">已勾选32</div>
                    <div class="fontclass">.cl-icon-yigouxuan</div>
                </li>
            
                <li>
                <i class="icon iconfont cl-icon-weigouxuan"></i>
                    <div class="name">未勾选32</div>
                    <div class="fontclass">.cl-icon-weigouxuan</div>
                </li>
            
                <li>
                <i class="icon iconfont cl-icon-guanyanren"></i>
                    <div class="name">观演人</div>
                    <div class="fontclass">.cl-icon-guanyanren</div>
                </li>
            
                <li>
                <i class="icon iconfont cl-icon-dingyue"></i>
                    <div class="name">订阅</div>
                    <div class="fontclass">.cl-icon-dingyue</div>
                </li>
            
                <li>
                <i class="icon iconfont cl-icon-dizhiguanli"></i>
                    <div class="name">地址管理</div>
                    <div class="fontclass">.cl-icon-dizhiguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont cl-icon-nankefu"></i>
                    <div class="name">男客服</div>
                    <div class="fontclass">.cl-icon-nankefu</div>
                </li>
            
                <li>
                <i class="icon iconfont cl-icon-nvkefu"></i>
                    <div class="name">女客服</div>
                    <div class="fontclass">.cl-icon-nvkefu</div>
                </li>
            
        </ul>

        <h2 id="font-class-">font-class引用</h2>
        <hr>

        <p>font-class是unicode使用方式的一种变种，主要是解决unicode书写不直观，语意不明确的问题。</p>
        <p>与unicode使用方式相比，具有如下特点：</p>
        <ul>
        <li>兼容性良好，支持ie8+，及所有现代浏览器。</li>
        <li>相比于unicode语意明确，书写更直观。可以很容易分辨这个icon是什么。</li>
        <li>因为使用class来定义图标，所以当要替换图标时，只需要修改class里面的unicode引用。</li>
        <li>不过因为本质上还是使用的字体，所以多色图标还是不支持的。</li>
        </ul>
        <p>使用步骤如下：</p>
        <h3 id="-fontclass-">第一步：引入项目下面生成的fontclass代码：</h3>


        <pre><code class="lang-js hljs javascript"><span class="hljs-comment">&lt;link rel="stylesheet" type="text/css" href="./iconfont.css"&gt;</span></code></pre>
        <h3 id="-">第二步：挑选相应图标并获取类名，应用于页面：</h3>
        <pre><code class="lang-css hljs">&lt;<span class="hljs-selector-tag">i</span> <span class="hljs-selector-tag">class</span>="<span class="hljs-selector-tag">iconfont</span> <span class="hljs-selector-tag">cl-icon-xxx</span>"&gt;&lt;/<span class="hljs-selector-tag">i</span>&gt;</code></pre>
        <blockquote>
        <p>"iconfont"是你项目下的font-family。可以通过编辑项目查看，默认是"iconfont"。</p>
        </blockquote>
    </div>
</body>
</html>
