
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>IconFont</title>
    <link rel="stylesheet" href="demo.css">
    <script src="iconfont.js"></script>

    <style type="text/css">
        .icon {
          /* 通过设置 font-size 来改变图标大小 */
          width: 1em; height: 1em;
          /* 图标和文字相邻时，垂直对齐 */
          vertical-align: -0.15em;
          /* 通过设置 color 来改变 SVG 的颜色/fill */
          fill: currentColor;
          /* path 和 stroke 溢出 viewBox 部分在 IE 下会显示
             normalize.css 中也包含这行 */
          overflow: hidden;
        }

    </style>
</head>
<body>
    <div class="main markdown">
        <h1>IconFont 图标</h1>
        <ul class="icon_lists clear">
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#cl-icon-add"></use>
                    </svg>
                    <div class="name">add</div>
                    <div class="fontclass">#cl-icon-add</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#cl-icon-addition"></use>
                    </svg>
                    <div class="name">addition</div>
                    <div class="fontclass">#cl-icon-addition</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#cl-icon-addpeople"></use>
                    </svg>
                    <div class="name">addpeople</div>
                    <div class="fontclass">#cl-icon-addpeople</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#cl-icon-addressbook_fill"></use>
                    </svg>
                    <div class="name">addressbook_fill</div>
                    <div class="fontclass">#cl-icon-addressbook_fill</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#cl-icon-camera"></use>
                    </svg>
                    <div class="name">camera</div>
                    <div class="fontclass">#cl-icon-camera</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#cl-icon-customerservice_fill"></use>
                    </svg>
                    <div class="name">customerservice_fill</div>
                    <div class="fontclass">#cl-icon-customerservice_fill</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#cl-icon-customerservice"></use>
                    </svg>
                    <div class="name">customerservice</div>
                    <div class="fontclass">#cl-icon-customerservice</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#cl-icon-suspend"></use>
                    </svg>
                    <div class="name">suspend</div>
                    <div class="fontclass">#cl-icon-suspend</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#cl-icon-switch"></use>
                    </svg>
                    <div class="name">switch</div>
                    <div class="fontclass">#cl-icon-switch</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#cl-icon-systemprompt_fill"></use>
                    </svg>
                    <div class="name">systemprompt_fill</div>
                    <div class="fontclass">#cl-icon-systemprompt_fill</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#cl-icon-fenxiang"></use>
                    </svg>
                    <div class="name">分享</div>
                    <div class="fontclass">#cl-icon-fenxiang</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#cl-icon-kefu"></use>
                    </svg>
                    <div class="name">客服</div>
                    <div class="fontclass">#cl-icon-kefu</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#cl-icon-shenfenzheng"></use>
                    </svg>
                    <div class="name">身份证</div>
                    <div class="fontclass">#cl-icon-shenfenzheng</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#cl-icon-quanping"></use>
                    </svg>
                    <div class="name">全屏</div>
                    <div class="fontclass">#cl-icon-quanping</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#cl-icon-duigou"></use>
                    </svg>
                    <div class="name">对勾</div>
                    <div class="fontclass">#cl-icon-duigou</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#cl-icon-shuoming"></use>
                    </svg>
                    <div class="name">说明</div>
                    <div class="fontclass">#cl-icon-shuoming</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#cl-icon-jiantoushang"></use>
                    </svg>
                    <div class="name">箭头 上</div>
                    <div class="fontclass">#cl-icon-jiantoushang</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#cl-icon-jiantoushang1"></use>
                    </svg>
                    <div class="name">箭头 上</div>
                    <div class="fontclass">#cl-icon-jiantoushang1</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#cl-icon-jiantouyou"></use>
                    </svg>
                    <div class="name">箭头 右</div>
                    <div class="fontclass">#cl-icon-jiantouyou</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#cl-icon-jiantouxia"></use>
                    </svg>
                    <div class="name">箭头 下</div>
                    <div class="fontclass">#cl-icon-jiantouxia</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#cl-icon-saoyisao"></use>
                    </svg>
                    <div class="name">扫一扫</div>
                    <div class="fontclass">#cl-icon-saoyisao</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#cl-icon-wode"></use>
                    </svg>
                    <div class="name">我的</div>
                    <div class="fontclass">#cl-icon-wode</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#cl-icon-shouye"></use>
                    </svg>
                    <div class="name">首页</div>
                    <div class="fontclass">#cl-icon-shouye</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#cl-icon-fenlei"></use>
                    </svg>
                    <div class="name">分类</div>
                    <div class="fontclass">#cl-icon-fenlei</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#cl-icon-xiaoxi"></use>
                    </svg>
                    <div class="name">消息</div>
                    <div class="fontclass">#cl-icon-xiaoxi</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#cl-icon-faxian"></use>
                    </svg>
                    <div class="name">发现</div>
                    <div class="fontclass">#cl-icon-faxian</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#cl-icon-sousuo"></use>
                    </svg>
                    <div class="name">搜索</div>
                    <div class="fontclass">#cl-icon-sousuo</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#cl-icon-liulan"></use>
                    </svg>
                    <div class="name">浏览</div>
                    <div class="fontclass">#cl-icon-liulan</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#cl-icon-zhiding"></use>
                    </svg>
                    <div class="name">置顶</div>
                    <div class="fontclass">#cl-icon-zhiding</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#cl-icon-tabguanbi"></use>
                    </svg>
                    <div class="name">tab角标</div>
                    <div class="fontclass">#cl-icon-tabguanbi</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#cl-icon-kexuanzuobiankuang"></use>
                    </svg>
                    <div class="name">座位边框</div>
                    <div class="fontclass">#cl-icon-kexuanzuobiankuang</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#cl-icon-shop"></use>
                    </svg>
                    <div class="name">shop</div>
                    <div class="fontclass">#cl-icon-shop</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#cl-icon-yigouxuan"></use>
                    </svg>
                    <div class="name">已勾选32</div>
                    <div class="fontclass">#cl-icon-yigouxuan</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#cl-icon-weigouxuan"></use>
                    </svg>
                    <div class="name">未勾选32</div>
                    <div class="fontclass">#cl-icon-weigouxuan</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#cl-icon-guanyanren"></use>
                    </svg>
                    <div class="name">观演人</div>
                    <div class="fontclass">#cl-icon-guanyanren</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#cl-icon-dingyue"></use>
                    </svg>
                    <div class="name">订阅</div>
                    <div class="fontclass">#cl-icon-dingyue</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#cl-icon-dizhiguanli"></use>
                    </svg>
                    <div class="name">地址管理</div>
                    <div class="fontclass">#cl-icon-dizhiguanli</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#cl-icon-nankefu"></use>
                    </svg>
                    <div class="name">男客服</div>
                    <div class="fontclass">#cl-icon-nankefu</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#cl-icon-nvkefu"></use>
                    </svg>
                    <div class="name">女客服</div>
                    <div class="fontclass">#cl-icon-nvkefu</div>
                </li>
            
        </ul>


        <h2 id="symbol-">symbol引用</h2>
        <hr>

        <p>这是一种全新的使用方式，应该说这才是未来的主流，也是平台目前推荐的用法。相关介绍可以参考这篇<a href="">文章</a>
        这种用法其实是做了一个svg的集合，与另外两种相比具有如下特点：</p>
        <ul>
          <li>支持多色图标了，不再受单色限制。</li>
          <li>通过一些技巧，支持像字体那样，通过<code>font-size</code>,<code>color</code>来调整样式。</li>
          <li>兼容性较差，支持 ie9+,及现代浏览器。</li>
          <li>浏览器渲染svg的性能一般，还不如png。</li>
        </ul>
        <p>使用步骤如下：</p>
        <h3 id="-symbol-">第一步：引入项目下面生成的symbol代码：</h3>
        <pre><code class="lang-js hljs javascript"><span class="hljs-comment">&lt;script src="./iconfont.js"&gt;&lt;/script&gt;</span></code></pre>
        <h3 id="-css-">第二步：加入通用css代码（引入一次就行）：</h3>
        <pre><code class="lang-js hljs javascript">&lt;style type=<span class="hljs-string">"text/css"</span>&gt;
.icon {
   width: <span class="hljs-number">1</span>em; height: <span class="hljs-number">1</span>em;
   vertical-align: <span class="hljs-number">-0.15</span>em;
   fill: currentColor;
   overflow: hidden;
}
&lt;<span class="hljs-regexp">/style&gt;</span></code></pre>
        <h3 id="-">第三步：挑选相应图标并获取类名，应用于页面：</h3>
        <pre><code class="lang-js hljs javascript">&lt;svg <span class="hljs-class"><span class="hljs-keyword">class</span></span>=<span class="hljs-string">"icon"</span> aria-hidden=<span class="hljs-string">"true"</span>&gt;<span class="xml"><span class="hljs-tag">
  &lt;<span class="hljs-name">use</span> <span class="hljs-attr">xlink:href</span>=<span class="hljs-string">"#cl-icon-xxx"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">use</span>&gt;</span>
</span>&lt;<span class="hljs-regexp">/svg&gt;
        </span></code></pre>
    </div>
</body>
</html>
